.add-expense-form{
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-inline: 35rem;
    padding: 2rem;
    background: rgb(190, 237, 255);
}

@media only screen and (max-width: 600px) {
    .add-expense-form{
        margin-top: 5rem;
        margin-bottom: 3rem;
        margin-inline: 2rem;
        padding: 2rem;
        background: rgb(190, 237, 255);
    }
  }